name: CI

on:
  push:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    name: Test
    runs-on: ${{ matrix.os }}

    env:
      PYTHONPATH: ${{ github.workspace }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade pip && python -m pip install -r requirements.txt && python -m playwright install && python -m pip install pytest-playwright


      - name: Start Flask Server (Windows)
        if: runner.os == 'Windows'
        shell: powershell
        run: Start-Process python -ArgumentList "-m flask run --host=0.0.0.0 --port=5000"

      
      - name: Start Flask Server (Linux/macOS)
        if: runner.os != 'Windows'
        shell: bash
        run: flask run --host=0.0.0.0 --port=5000 > server.log 2>&1 &

      - name: Wait 60 seconds for server to start
        shell: bash
        run: sleep 60


      - name: Run tests
        run: pytest -v
